<div id="root">
</div>
<!-- <div class="container center-flex-content">
  <div class="hero">
    <img src="http://dallashall.tech/wp-content/uploads/2016/12/cropped-nevada-sky-dallas.jpg" />
  </div>
  <div class="auth col floating box">
    <h2 class="thin flex center-flex-content">Sign Up</h2>
    <form class="col">
      <input type="text" />
      <input type="password" />
      <input class="btn-float white btn-single" type="submit" value="Sign Up" />
    </form>
    <div class="row line-top">
      <button class="btn-float flex flex-1 center-flex-content white">Log In</button>
      <button class="btn-float flex flex-1 center-flex-content white">Demo Log In</button>
    </div>
  </div>
</div>
-->