[class^="btn"] {
  cursor: pointer;
  padding: 8px;
}
.btn-float {
  box-shadow: $light-shadow;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-float:first-of-type {
  margin-left: 10px;
}
.btn-float:last-of-type {
  margin-right: 10px;
}
.btn-float:hover {
  box-shadow: $shadow;
}
.btn-float:active {
  box-shadow: $dark-shadow;
}
.btn-single {
  margin: 10px;
}

.btn-text {
  text-transform: uppercase;
  font-weight: light;
  padding: 15px;
  color: grey;
}

.btn-text:hover {
  color: black;
}

.btn-text:active {
  color: $dark-orange;
}

.btn-bars {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
