.container {
  display: flex;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.row:first-child {
  margin-left: 0;
}
.row:last-child {
  margin-right: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-v-center {
  align-items: center;
}

.center-flex-content {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flex-half-single {
  flex: .5;
}

.hero {
  position: relative;
  height: 600px;
  z-index: -1;
  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

.full-height {
  height: 100%;
}

.left-panel {
  padding: 35px;
  margin: 10px;
}

// Utilities
.hidden {
  display: none;
}