h1 {
  font-size: 26;
}

h2 {
  font-size: 28px;
  padding: 10px;
}

h3 {
  font-size: 18px;
}

strong {
  display: inline;
  font-weight: 600;
}

small {
  display: inline;
  font-weight: 200;
}

.title {
  text-transform: uppercase;
  padding: 20px;
}

.thin {
  font-weight: lighter;
}

.thick {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
