h1, h2, h3, h4, h4 {
  font-family: 'Oswald', sans-serif;
}

span, strong, small {
  font-family: inherit;
  color: inherit;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
  padding: 10px;
}

h3 {
  font-size: 18px;
}

strong {
  display: inline;
  font-weight: 600;
}

small {
  display: inline;
  font-weight: 200;
}

.title {
  text-transform: uppercase;
  padding-top: 20px;

  small {
    text-transform: lowercase;
    font-size: 32px;
  }
}

.thin {
  font-weight: lighter;
}

.thick {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
