.edit-form {
  display: flex;
  form {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0;
  }
  input, textarea {
    display: flex;
    margin: 10px 0;
  }
  textarea {
    min-height: 150px;
  }
  .btn-single {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  i {
    color: $dark-grey;
    padding:3px;
  }
  .single {
    margin: 10px 0;
  }
  h3 {
    font-weight: 200;
    font-size: 32px;
  }
  .delete {
    margin-left: 0;
  }
  input[type="submit"]:last-of-type {
    margin-right: 0;
  }
  
}