.task-detail {
  ul {
    margin: 0 10px;
  }

  .form-title {
    margin-bottom: 20px;
  }

  .task-edit {
    margin: 0;
    display: block;
    width: 100px;
    height: 40px;
  }

  li {
    margin: 0 0 8px 0;
    display: flex;
    overflow: visible;
    button {
      margin: 1px 10px 0 3px;
    }
  }
}
.task-list {
    margin-top: 15px;
    .task-header {
        border-bottom: 1px solid lightgrey;
        font-family: "Oswald", sans-serif;
    }
    ul {
        margin: 15px 0;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid lightgrey;
        padding: 8px;
        margin: 5px 0;
    }
    .new-task-button {
        h4{
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    .new-task-button:hover {
        background-color: rgb(240, 255, 240);
    }
    .new-task-button:active {
        background-color: rgb(230,255,230);
    }
    .floating:hover {
        box-shadow: $shadow;
        cursor: pointer;
    }

    .floating:active {
        box-shadow: $dark-shadow;
    }
    span {
        display: flex;
        align-items: center;
    }
}

[class^="status"] {
    width: 20px;
    height: 20px;
    box-shadow: $light-shadow;
    display: flex;
    margin: 3px;
    cursor: pointer;
}

[class^="status"]:hover {
    box-shadow: $shadow;
}

[class^="status"]:active {
    box-shadow: $dark-shadow;
}

.status-1 {
    background-color: rgb(200, 60, 10);
}

.status-2 {
    background-color: $orange;
}

.status-3 {
    background-color: rgb(120, 180, 255);
}

.status-4 {
    background-color: rgb(50, 230, 100);
}