.task-detail {
  ul {
    margin: 0 10px;
  }

  .form-title {
    margin-bottom: 20px;
  }

  .task-edit {
    margin: 0;
    display: block;
    width: 100px;
    height: 40px;
  }

  li {
    margin: 0 0 8px 0;
    display: flex;
    overflow: visible;
    button {
      margin: 1px 10px 0 3px;
    }
  }
}
.task-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(100% - 180px);
    .task-header {
        border-bottom: 1px solid lightgrey;
        font-family: "Oswald", sans-serif;
    }
    ul {
        margin: 15px 0;
        overflow-y: scroll;
        padding:2px;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid lightgrey;
        padding: 8px;
        margin: 5px 0;
    }
    .new-task-button {
        h4{
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    .new-task-button:hover {
        background-color: rgb(240, 255, 240);
    }
    .new-task-button:active {
        background-color: rgb(230,255,230);
    }
    .floating:hover {
        box-shadow: $shadow;
        cursor: pointer;
    }

    .floating:active {
        box-shadow: $dark-shadow;
    }
    span {
        display: flex;
        align-items: center;
    }
}

[class^="status"] {
    width: 20px;
    height: 20px;
    box-shadow: $light-shadow;
    display: block;
    margin: 3px;
    cursor: pointer;
}


.status-blank-1:hover {
    background-color: $status-1-hover;
}
.status-blank-2:hover {
    background-color: $status-2-hover;
}
.status-blank-3:hover {
    background-color: $status-3-hover;
}
.status-blank-4:hover {
    background-color: $status-4-hover;
}

[class^="status"]:hover {
    box-shadow: $shadow;
}

[class^="status"]:active {
    box-shadow: $dark-shadow;
}

.status-1 {
    background-color: $status-1;
}

.status-2 {
    background-color: $status-2;
}

.status-3 {
    background-color: $status-3;
}

.status-4 {
    background-color: $status-4;
}

.assignees {
    strong {
        display: inline-block;
    }
    p {
        display: inline-block;
        margin-left: 5px;
    }
    p::after {
        content: ",";
    }

    p:last-of-type::after {
        content: "";
    }
}

.assigneeForm {
    ul {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                width: 150px;
            }
        }
    }
}
