.teams {
    position: relative;
    margin: 15px 3px 15px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    .selected-container {
      display: flex;
      .btn {
        background-color: $toupe;
        margin: 0 5px;
        border-radius: 3px;
      }
      .btn:hover {
        background-color: $orange;
      }
      .btn:active {
        background-color: $dark-orange;
      }
    }
    .selected {
      text-transform: uppercase;
      background: $toupe;
      display: flex;
      justify-content: space-between;
      flex: 1;
      padding: 8px;
      box-shadow: $light-shadow;
      border-top-right-radius: 10px;
      // border-bottom-right-radius: 10px;
    }
    strong {
      font-weight: 200;
      font-size: 12px;
    }
    span {
      font-weight: 200;
      font-size: 11px;
    }
    ul {
      position: absolute;
      z-index: 99;
      top: 25px;
      // left: 10px;
      width: 100%;
      box-shadow: $shadow;
    }
    li {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      background-color: $toupe;
      border-top: 1px solid $dark-grey;
      padding: 5px 5px 5px 30px;
      cursor: pointer;
      font-size: 11px;
    }
    li:first-of-type {
      padding-left: 15px;
      justify-content: flex-start;
    }
    li:hover, .selected:hover {
      background-color: $orange;
    }
    li:active, .selected:active {
      background-color: $dark-orange;
    }
  }
  