// Utilities
.hidden {
    display: none;
}

.striped:nth-of-type(odd) {
    background-color: rgba(125, 125, 125, 0.1);
}

.flex-start {
    justify-content: flex-start;
}

.tooltip {
    position: relative;
    height: 100%;
    width: 100%;
    .tooltip-text {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: white;
        top: 20px;
        right: 20px;
        padding: 3px;
        width: 90px;
        border-radius: 5px;
        border-top-right-radius: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        box-shadow: $light-shadow;
        z-index: 100;
    }
    &:hover .tooltip-text {
        display: block;
    }
}

.message {
    min-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}