$dark-grey: rgb(73, 84, 90);
$dark-orange: rgb(244,148,66);
$orange: rgb(255, 190, 100);
$light-orange: rgb(255,230, 132);
$toupe: rgb(239, 234, 228);
$dark-white: rgb(239, 234, 228);

$status-1: rgb(200, 60, 10);
$status-2: $orange;
$status-3: rgb(120, 180, 255);
$status-4: rgb(50, 230, 100);

$status-1-hover: rgb(230, 70, 20);
$status-2-hover: $orange;
$status-3-hover: rgb(140, 200, 255);
$status-4-hover: rgb(70, 250, 120);